<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jOS.System.Egg"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <application
        android:icon="@drawable/ic_launcher_j"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="jOS.System.category.PLATLOGO" />
            </intent-filter>
        </activity>

        <!-- started from ... somewhere -->
        <activity
            android:name=".Nyandroid"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@drawable/i_platlogo"
            android:label="@string/i_egg_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name=".LLandActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@drawable/l_icon"
            android:label="@string/l_lland"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Material.NoActionBar" />

        <activity
            android:name=".DessertCase"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:icon="@drawable/k_platlogo"
            android:label="@string/k_dessert_case"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- a gallery of delicious treats -->
        <service
            android:name=".DessertCaseDream"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/k_platlogo"
            android:label="@string/k_dessert_case"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
