<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jOS.System"
    coreApp="true"
    android:sharedUserId="android.uid.system"
    android:versionCode="34"
    android:versionName="15.0">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_j"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity android:name=".ConfigActivity" android:exported="true" android:label="@string/sdk_settings_name">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="jOS.System.LibConfig"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/baseline_build_24" />
            <meta-data
                android:name="com.android.settings.icon_tintable"
                android:value="true" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-254" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity>
        <activity
            android:name=".PlatLogoActivity"
            android:exported="true"
            android:label="@string/jOS_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />
        <!-- Contributors Cloud (MyDeviceInfo category) -->
        <activity
            android:name=".CreditsActivity"
            android:exported="true"
            android:label="@string/contributors_cloud_fragment_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.my_device_info" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="2" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity>
        <activity android:name=".AudioConfigActivity"
            android:exported="true"/>
    </application>

</manifest>
