<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOSSystem">
        <activity
            android:name=".egg.menu.MenuActivity"
            android:exported="false"
            android:label="@string/jOS_egg_name" />
        <activity
            android:name=".egg.PlatLogoActivity"
            android:exported="false"
            android:label="@string/jOS_egg_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".info.InfoActivity" />
        <activity
            android:name="com.j.Wallpapers.WallpaperActivity"
            android:exported="true"
            android:label="@string/wallpaper_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.j.Wallpapers.WallpapersListFragment"
            android:exported="false"
            android:label="@string/home_screen" />
        <activity
            android:name="com.j.Wallpapers.lock"
            android:exported="false"
            android:label="@string/lock_screen" />

        <service
            android:name="com.j.Wallpapers.MyWallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="DVD Live Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>
    </application>

</manifest>